In [9]:
import sqlite3
import pandas as pd
cnx = sqlite3.connect('/sbdia_cs/IA/NoteBooks/Data/db.sqlite3')
pd.read_sql_query("SELECT name FROM sqlite_master where name like '%app_%'", cnx)

                                                 name
0                                          app_sensor
1                       sqlite_autoindex_app_sensor_1
2                                  app_sensorlogbatch
3                                       app_energylog
4                        app_sensor_owner_id_d4da34f3
5               app_sensorlogbatch_sensor_id_7afee8d2
6                  app_energylog_dim_time_id_f8a8394a
7                    app_energylog_sensor_id_a8b78ac7
8                                         app_dimtime
9                        app_dimtime_cost_id_9d01e15e
10                     app_dimtime_sensor_id_4efd4daf
11                                           app_cost
12                        app_cost_sensor_id_34dcf6a6
13    app_energylog_sensor_id_unix_time_ccaf6bec_uniq
14      app_dimtime_sensor_id_date_time_d9d151e8_uniq
15  django_content_type_app_label_model_76bd3d3b_uniq

In [13]:
pd.read_sql_query("SELECT COUNT(*) FROM app_energylog", cnx)

   COUNT(*)
0   1726800

In [16]:
pd.read_sql_query("SELECT * FROM app_sensorlogbatch", cnx)

,id,secret_api_token,content,attempts,exception,sensor_id
0,687199,ac2d55027ccb47bdb4c0c2a90c48b713,1596824724;3.60;7.70;0.00,3,no unique mode; found 2 equally common values,36810735079c4d82883348a17565c710
1,757969,ac2d55027ccb47bdb4c0c2a90c48b713,1597883826;3.20;15.50;0.00,3,no unique mode; found 2 equally common values,36810735079c4d82883348a17565c710
2,1044094,ac2d55027ccb47bdb4c0c2a90c48b713,1602438730;3.70;8.50;0.00,0,,36810735079c4d82883348a17565c710