# Queries from Dev MySQL

## Imports

In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

## MySQL Connection

In [3]:
db_connection_str = 'mysql+pymysql://dev_db_user:dev_db_user@db/sbdia_db_dev'
db_connection = create_engine(db_connection_str)

def read_sql(sql):
    return pd.read_sql(sql, db_connection)

## Tables

In [3]:
tables = pd.read_sql("show tables", db_connection)
tables

   Tables_in_sbdia_db_dev
0        AspNetRoleClaims
1             AspNetRoles
2        AspNetUserClaims
3        AspNetUserLogins
4         AspNetUserRoles
5        AspNetUserTokens
6             AspNetUsers
7             DeviceCodes
8         PersistedGrants
9             SensorCosts
10         SensorDimTimes
11       SensorEnergyLogs
12        SensorLogBatchs
13                Sensors
14  __EFMigrationsHistory

## Sensors

In [4]:
sensors = pd.read_sql("SELECT * FROM Sensors", db_connection)
sensors.head()

,Id,OwnerId,SensorType,Name,TimeZone,DefaultToConvert,LogDurationMode,SecretApiToken
0,e9f9993d-b972-4255-8d55-afb98684e577,3c193a1b-5cb8-42fb-ac73-0afc68dc3146,0,Sensor 01,America/Recife,26.378,15.0,d9d1ae11-005e-4506-8a40-9615b794d68a

## SensorCosts

In [22]:
sensorCosts = pd.read_sql("SELECT * FROM SensorCosts", db_connection)
sensorCosts.head()

   Id                              SensorId Title  Value
0   1  e9f9993d-b972-4255-8d55-afb98684e577     $    0.0

## SensorDimTimes

In [23]:
sensorDimTimes = pd.read_sql("SELECT * FROM SensorDimTimes", db_connection)
sensorDimTimes.head()

,Id,SensorId,SensorCostId,DateTime,Year,Month,Day,Hour,DayOfWeek,PeriodOfDay
0,1,e9f9993d-b972-4255-8d55-afb98684e577,1,2019-11-24 12:20:30,2019,11,24,12,0,1
1,2,e9f9993d-b972-4255-8d55-afb98684e577,1,2019-11-24 12:20:45,2019,11,24,12,0,1
2,3,e9f9993d-b972-4255-8d55-afb98684e577,1,2019-11-24 12:21:00,2019,11,24,12,0,1
3,4,e9f9993d-b972-4255-8d55-afb98684e577,1,2019-11-24 12:21:40,2019,11,24,12,0,1
4,5,e9f9993d-b972-4255-8d55-afb98684e577,1,2019-11-24 12:20:30,2019,11,24,12,0,1

# SensorLogBatchs

In [4]:
sensorLogBatchs = pd.read_sql("SELECT * FROM SensorLogBatchs", db_connection)
sensorLogBatchs.head()

,Id,SensorId,SecretApiToken,Content,Attempts,Exception
0,1,e9f9993d-b972-4255-8d55-afb98684e577,d9d1ae11-005e-4506-8a40-9615b794d68a,{time};{wt1};{wt2};{wt3},4,Message: Input string was not in a correct for...
1,2,e9f9993d-b972-4255-8d55-afb98684e577,d9d1ae11-005e-4506-8a40-9615b794d68a,{time};{wt1};{wt2};{wt3},4,Message: Input string was not in a correct for...
2,3,e9f9993d-b972-4255-8d55-afb98684e577,d9d1ae11-005e-4506-8a40-9615b794d68a,{time};{wt1};{wt2};{wt3},4,Message: Input string was not in a correct for...
3,4,e9f9993d-b972-4255-8d55-afb98684e577,d9d1ae11-005e-4506-8a40-9615b794d68a,{time};{wt1};{wt2};{wt3},4,Message: Input string was not in a correct for...
4,5,e9f9993d-b972-4255-8d55-afb98684e577,d9d1ae11-005e-4506-8a40-9615b794d68a,{time};{wt1};{wt2};{wt3},4,Message: Input string was not in a correct for...

## Count SensorLogBatchs with errors

In [16]:
read_sql('SELECT * FROM SensorLogBatchs WHERE Attempts <= 3 ').count()

Id                2
SensorId          2
SecretApiToken    2
Content           2
Attempts          2
Exception         0
dtype: int64

# SensorEnergyLogs

## Todos SensorEnergyLogs

In [53]:
sensorEnergyLogs = pd.read_sql("SELECT * FROM SensorEnergyLogs", db_connection)
sensorEnergyLogs[sensorEnergyLogs.Duration > 16].head()

,Id,SensorId,SensorDimTimeId,UnixTime,Duration,Watts1,Watts2,Watts3,WattsTotal,ConvertToUnits
3,4,e9f9993d-b972-4255-8d55-afb98684e577,4,1574608900,40.0,26.378,52.756,79.134,158.268,26.378
6,28,e9f9993d-b972-4255-8d55-afb98684e577,28,1574609000,140.0,26.378,52.756,79.134,158.268,26.378

In [62]:
SensorEnergyLogs = read_sql("SELECT * FROM SensorEnergyLogs")
SensorEnergyLogs.Duration.describe()

count    24035.000000
mean        15.006199
std          0.822270
min         14.000000
25%         15.000000
50%         15.000000
75%         15.000000
max        140.000000
Name: Duration, dtype: float64